.product_details {
  margin-top: 18rem;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  .name {
    color: $color_grey;
  }
  .stars {
    color: $color_primary;
    display: flex;
  }
}

.main_product_slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  .tags_Wrapper {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 0.9rem;
    z-index: 50;
    z-index: 500;
    .tag {
      padding: 0.2rem 0.5rem;
      margin: 0.5rem 0;
      border-radius: 4px;
      color: #fff;
      background-image: linear-gradient(to right, #f92339, #a111ff);
    }
  }
  .fav_btn {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    a {
      color: $color_grey;
      font-size: 1.5rem;
    }
  }
  .card {
    width: 80%;
    height: 23rem;
    &:focus {
      outline: none;
    }
    .image {
      width: 100%;
      height: 23rem;
      padding: 0.2rem;
      img {
        @include rowCenter();
        // margin-left: 50%;
        height: 100%;
      }
    }
  }
}

.main_product_details {
  padding: 1rem;
  margin-top: 1rem;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .price {
    font-size: 2rem;
    color: $color_grey_dark;
    .row{
        display: flex;
        align-items: center;
        .icon {
          margin-right: 0.5rem;
          font-size: 1.5rem;
        }
        .value {
          font-weight: 700;
        }
    }

    .sub_data{
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        color: $color_grey_light;
        text-decoration: line-through;
        .icon {
          margin-right: 0.5rem;
          font-size: 1rem;
        }
        .value {
          font-weight: 700;
        }
      }
  }

  .qty{
      width: 9rem;
      border: rgb(223, 208, 4) 2px solid;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      span{
          font-size: 1.5rem;
          margin-right: 0.5rem;
          font-weight: 500;
          color: $color_grey_light;
      }
      input{
          width: 100%;
          padding: 0.5rem 1rem; 
          border: none;
          &:focus{
              outline: none;
          }
      }
  }

.bigBtn{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    border-radius: 3px;
    @include rowCenter();
}
.cartBtn{
    margin-top: 2.5rem;  
    color: #fff;
    background-image: linear-gradient(to right, #f92339, #a111ff);
}

.buyBtn{
    color: #fff;
    background: $color_primary;
    margin-top: 1rem;
}
}

.product_details_main{
  padding: 1rem;
  font-size: 1.5rem;
  color: $color_grey;
  margin-top: 2rem;
  .heading{
    font-size: 1.8rem;
    font-weight: 700;
    color: $color_grey_dark;
  }
  .para{
    margin-top: 1rem;
  }
  .list{
    margin-top: 1rem;
    list-style-type: disc;
    margin-left: 1.5rem;
  }
}